---
id: "root" 
---
<html>
  <head>
    <script src="src/index.js" type="module"></script>
  </head>
  <body>
    <h1>Parcel + Auth</h1>
    <div id="{{ id }}"></div>
    <a href="src/Auth/Auth.hbs">Auth</a>
  </body>
</html>