---
id: "root" 
---
<html>
  <head>
    <script src="src/index.js" type="module"></script>
  </head>
  <body>
    <h1>Parcel + Auth</h1>
    <div id="{{ id }}"></div>
    <a href="src/Auth/Auth.hbs">Auth</a>
    <a href="src/Chats/Chats.hbs">Chats</a>
    <a href="src/Chats/ChatWindow.hbs">Chat Window</a>
    <a href="src/Profile/Profile.hbs">Profile</a>

  </body>
</html>