<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .Profile {
      display: flex;
      min-height: 100%;
      position: relative;
      padding-left: 64px;
    }

    .Profile__SidePanel {
      width: 64px;
      min-height: 100%;
      background-color: #FBFBFB;
      border-right: 1px solid #EAEAEA;
      display: flex;
      position: fixed;
      left: 0;
    }

    .SidePanel__Button {
      width: 28px;
      height: 28px;
      background-color: #3369F3;
      background-image: url('./Arrow.svg');
      transform: rotate(180deg);
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      margin: auto;
    }

    .Profile__Content {
      width: 100%;
      padding: 30px 10px;
      box-sizing: border-box;

      width: 510px;
      margin: 0 auto;
    }

    .Profile__Avatar {
      display: block;
      width: 130px;
      height: 130px;
      background-color: #EFEFEF;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url('./Profile__Avatar.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      margin-bottom: 21px;
      position: relative;
      cursor: pointer;
    }

    .Profile__Avatar:hover:after {
      content: 'Поменять аватар';
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: rgba(0,0,0, 0.5);
      display: flex;
      box-sizing: border-box;
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .Profile__AddAvatarInput {
      display: none;
    }

    .Profile__Name {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      text-align: center;

      color: #1E1E1E;
      margin-bottom: 60px;
    }

    .Profile__Form {
      margin: 0 auto;
      color: #1E1E1E;
      font-family: 'Inter', sans-serif;
      margin-bottom: 60px;
      box-sizing: border-box;
    }

    .Profile__Label {
      display: block;
      border-bottom: 1px solid #EAEAEA;
      padding: 8px 0;
      text-align: left;
      display: flex;
      color: #1E1E1E;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      align-items: center;
      box-sizing: border-box;
    }

    .Profile__Label:last-of-type {
      border-bottom: 1px solid transparent;
    }

    .Profile__LabelText {
      width: max-content;
      display: block;
    }

    .Profile__Input {
      text-align: right;
      border: none;
      display: block;
      font-size: 16px;
      color: #1E1E1E;
      flex-grow: 1;
    }

    .Profile__Input:focus {
      border: none;
      outline: none;
    }

    .Profile__Input:disabled {
      background-color: transparent;
    }

    .Profile__SubmitButton {
      display: block;
      display: none;
      width: 280px;
      min-height: 37px;
      margin: 0 auto;
      margin-top: 60px;
      background: #3369F3;
      border-radius: 8px;
      color: white;
      border: none;
      cursor: pointer;
    }

    .Profile__EditButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #3369F3;
      font-weight: 500;
    }

    .Profile__EditButton_exit {
      color: #FF0000;
    }

    .Profile__Form_password .Profile__SubmitButton {
      display: block;
      margin-top: 160px;
    }

    .Popup__Wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0, 0.4);
      z-index: 200;
      align-items: center;
      justify-content: center;
      display: flex;
      display: none;
    }

    .Popup {
      display: flex;
      width: 340px;
      min-height: 257px;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
      border-radius: 12px;
      padding: 40px;
      flex-direction: column;

      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;

      {{!-- display: none; --}}
    }

    .Popup__Header {
      margin: 0;
      margin-bottom: 43px;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: #1E1E1E;
      font-size: 16px;
    }

    .Popup__Header_error {
      color: #FF2F2F;
    }

    .Popup__Label {
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 45px;
      width: 122px;
      display: block;
      position: relative;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      /* or 133% */

      text-align: center;
      text-decoration-line: underline;

      color: #3369F3;

    }

    .Popup__Button {
      color: white;
      background-color: #fff;
      background: #3369F3;
      border-radius: 8px;
      display: block;
      border: none;
      width: 100%;
      box-sizing: border-box;
      padding: 12px;
      line-height: 13px;
      margin-top: auto;
      margin-bottom: 14px;
    }

    .Popup__Error_noFile {
      text-align: center;
      color: #FF2F2F;   
    }
  </style>
</head>
<body>
  <div class="Profile">
    <div class="Profile__SidePanel">
      <a class="SidePanel__Button" href="../Chats/Chats.hbs"></a>
    </div>

    <div class="Profile__Content">
      <label class="Profile__Avatar">

      </label>
      <h3 class="Profile__Name">Иван</h3>

      <form class="Profile__Form Profile__Form_userData">
        <label class="Profile__Label">
          <span class="Profile__LabelText">Почта</span>
          <input class="Profile__Input" name="email" type="email" value="pochta@yandex.ru" disabled>
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Логин</span>
          <input class="Profile__Input" name="login" type="text" value="ivanivanov" disabled>
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Имя</span>
          <input class="Profile__Input" name="first_name" type="text" value="Иван" disabled>
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Фамилия</span>
          <input class="Profile__Input" name="second_name" type="text" value="Иванов" disabled>
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Имя в чате</span> 
          <input class="Profile__Input" name="display_name" type="text" value="Иван" disabled>
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Телефон</span>
          <input class="Profile__Input" name="phone" type="tel" value="+7 (909) 967 30 30" disabled>
        </label>

        <button class="Profile__SubmitButton" type="submit">Сохранить</button>
      </form>


      <form class="Profile__Form Profile__Form_password">
        
        <label class="Profile__Label">
          <span class="Profile__LabelText">Старый пароль</span>
          <input class="Profile__Input" type="password" name="oldPassword" value="+7 (909) 967 30 30">
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Новый пароль</span>
          <input class="Profile__Input" type="password" name="newPassword" value="+7 (909) 967 30 30">
        </label>

        <label class="Profile__Label">
          <span class="Profile__LabelText">Повторите новый пароль</span>
          <input class="Profile__Input" type="password" name="repeatNewPassword" value="+7 (909) 967 30 30">
        </label>

        <button class="Profile__SubmitButton" type="submit">Сохранить</button>
      </form>


      <label class="Profile__Label">
        <button class="Profile__EditButton" type="button" class="Profile__LabelText">Изменить данные</button>
      </label>
      <label class="Profile__Label">
        <button class="Profile__EditButton" type="button" class="Profile__LabelText">Изменить пароль</button>
      </label>
      <label class="Profile__Label">
        <button class="Profile__EditButton Profile__EditButton_exit" type="button" class="Profile__LabelText">Выйти</button>
      </label>

    </div>


    <div class="Popup__Wrapper">
      <form class="Popup Popup_LoadAvatar" action="">
        <h4 class="Popup__Header">Загрузите файл</h4>
        <label class="Popup__Label">
          Выбрать файл на компьютере
          <input class="Profile__AddAvatarInput" name="avatar" type="file" placeholder="Add File">
        </label>
        <button class="Popup__Button" type="submit">Поменять</button>
        <div class="Popup__Error_noFile">
          Нужно выбрать файл
        </div>
      </form>
    </div>

  </div>
</body>
</html>